In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_json("dataV1.json")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935 entries, 0 to 934
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Ano de Edição        595 non-null    float64
 1   Colaborador          817 non-null    object
 2   Editora              809 non-null    object
 3   ISBN                 903 non-null    object
 4   Ano                  803 non-null    float64
 5   Edição               801 non-null    float64
 6   Origem               811 non-null    object
 7   Formato              807 non-null    object
 8   Encadernação         902 non-null    object
 9   Idioma               795 non-null    object
 10  País                 794 non-null    object
 11  Páginas              887 non-null    float64
 12  Assunto              53 non-null     object
 13  preço                935 non-null    object
 14  nome                 935 non-null    object
 15  categoria            935 non-null    object
 16  Complemento          221 non-null    object
 17  Idade                15 non-null     float64
 18  Tipo de Colaborador  24 non-null     object
 19  EAN                  24 non-null     float64
 20  Sinopse              21 non-null     object
 21  Altura               18 non-null     float64
 22  Largura              18 non-null     float64
 23  Peso                 15 non-null     float64
 24  Subtitulo            9 non-null      object
 25  Grau./Nível          4 non-null      object
 26  Série/Ano            4 non-null      object
 27  Coleção              3 non-null      object
dtypes: float64(9), object(19)
memory usage: 204.7+ KB

In [10]:
df['preço'] = pd.to_numeric(df['preço'],errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935 entries, 0 to 934
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Ano de Edição        595 non-null    float64
 1   Colaborador          817 non-null    object
 2   Editora              809 non-null    object
 3   ISBN                 903 non-null    object
 4   Ano                  803 non-null    float64
 5   Edição               801 non-null    float64
 6   Origem               811 non-null    object
 7   Formato              807 non-null    object
 8   Encadernação         902 non-null    object
 9   Idioma               795 non-null    object
 10  País                 794 non-null    object
 11  Páginas              887 non-null    float64
 12  Assunto              53 non-null     object
 13  preço                934 non-null    float64
 14  nome                 935 non-null    object
 15  categoria            935 non-null    object
 16  Complemento          221 non-null    object
 17  Idade                15 non-null     float64
 18  Tipo de Colaborador  24 non-null     object
 19  EAN                  24 non-null     float64
 20  Sinopse              21 non-null     object
 21  Altura               18 non-null     float64
 22  Largura              18 non-null     float64
 23  Peso                 15 non-null     float64
 24  Subtitulo            9 non-null      object
 25  Grau./Nível          4 non-null      object
 26  Série/Ano            4 non-null      object
 27  Coleção              3 non-null      object
dtypes: float64(10), object(18)
memory usage: 204.7+ KB

In [11]:
df.describe()

,Ano de Edição,Ano,Edição,Páginas,preço,Idade,EAN,Altura,Largura,Peso
count,595.000000,803.000000,801.000000,887.000000,934.000000,15.000000,2.400000e+01,18.000000,18.000000,15.000000
mean,2016.095798,2015.183064,34.298377,298.875986,71.090385,7.266667,2.008855e+12,22.194444,15.400000,0.381300
std,5.194782,5.435646,254.452475,265.403897,63.096911,4.712698,6.369570e+09,1.932530,2.002352,0.243216
min,1976.000000,1976.000000,1.000000,6.000000,9.480000,1.000000,2.000032e+12,20.000000,13.300000,0.070000
25%,2014.000000,2013.000000,1.000000,160.000000,39.900000,3.000000,2.007100e+12,21.000000,14.000000,0.241000
50%,2017.000000,2016.000000,1.000000,248.000000,50.000000,6.000000,2.007950e+12,21.250000,15.150000,0.310000
75%,2020.000000,2019.000000,1.000000,352.000000,79.900000,11.500000,2.008800e+12,23.000000,16.000000,0.463000
max,2021.000000,2021.000000,2021.000000,3067.000000,812.600000,15.000000,2.021123e+12,28.000000,21.000000,0.897000